montse()
	font-family: 'Montserrat', sans-serif
	font-weight: 400

montseL()
	font-family: 'Montserrat', sans-serif
	font-weight: 300
	
montseM()
	font-family: 'Montserrat', sans-serif
	font-weight: 500
	
montseB()
	font-family: 'Montserrat', sans-serif
	font-weight: 800
