// Stylus variables -
$blue 				= #0a4e89
$blue-2  			= #0a599e
$blue-3       = #1f367c
$yellow				= #ffce0d

$cyan					= #54c7e3

$gradient 			= radial-gradient(ellipse at center,  #fef14e 0%,#fad400 100%);
								
