.footer
	line-height 1.2
	color white
	montseL()
	
	.policy
		max-width 990px
		padding 10px
		margin 0 auto
		font-size .6rem
		text-align justify
		text-align-last center
		
		
		&-title
			font-size 1rem
			padding-bottom 1rem
			montseM()
		
		&-txt:last-child
			font-size .8rem
			padding 6px 0
		
	.legal
		background darken($blue, 20%)
		text-align center
		color white
		font-size .7rem
		padding 14px
		&-txt-yellow
			color $yellow
	
	.brands
		background white
		text-align center
		padding .8em 
		
		&-txt
			color $blue
			font-size 1.2rem
			display inline-block
			vertical-align middle
			padding 1em
			
		&-img
			display inline-block
			vertical-align middle
			max-width 360px
		
			
	


