footer.footer
	.footer-container
		.policy
			//- p.policy-title Política de Descuentos en Funciones Incluyentes
			//- p.policy-txt Queremos que las personas con discapacidad sean tratadas dignamente, y que puedan vivir la mejor experiencia de cine. Por eso hemos creado las Funciones Incluyentes, en las que brindaremos atención y apoyos razonables a fin de que puedan disfrutar óptimamente de nuestras funciones. Estos apoyos no incluyen “descuentos por discapacidad”, ya que queremos que nuestras acciones y políticas respeten en los hechos la igualdad entre todas las personas, independientemente de si tienen o no alguna discapacidad. No obstante lo anterior, sí contamos con un descuento a través del cual queremos reconocer e incentivar una conducta que consideramos socialmente útil, y que consiste en llevar o acompañar al cine a una persona con discapacidad. Este descuento aplica a un acompañante por cada persona con discapacidad y, por lo pronto, sólo puede hacerse efectivo en las compras que se realicen en taquilla, donde podrás consultar el costo de tus boletos y el monto del descuento.
			p.policy-txt Cinépolis®, por una cultura de equidad e inclusión.

		.legal
			p.legal-txt *Para asistir a estas funciones, los clientes únicamente deben comprar sus entradas en taquilla  y presentarse en la sala a la hora indicada, a fin de poder disfrutar de su película.
			p.legal-txt-yellow *Los espacios para sillas de ruedas son limitados, por favor confirma su disponibilidad en taquilla antes de realizar tu compra.

		.brands
			p.brands-txt Con el valioso apoyo de:
			img.brands-img(src="http://static.cinepol.is/landings/funciones-incluyentes/imagenes/lg-footer.jpg", alt="colaboradores")




		