header.header
	.header-container
		h1.logo
			img(src="img/lg-fund-cinepolis.svg", alt="cinepolis incluyente").logo-img
			span.logo-copy Acompañanos a las primeras #[strong funciones incluyentes] en México.
		nav.nav
			ul.nav-list
				li.nav-item
					a(href="#fi-detail").nav-link.nav-link-tab ¿Qué son las funciones incluyentes?
				li.nav-item
					a(href="#fi-kind").nav-link.nav-link-tab Tipos de funciones incluyentes
				li.nav-item
					a(href="http://www.cinepolis.com/pdf/guia-visual.pdf" target="_blank").nav-link Guía visual

	
