header.header
	.header-container
		h1.logo
			img(src="img/lg-cinepolis-incluyente.png", alt="cinepolis incluyente").logo-img
		nav.nav
			ul.nav-list
				li.nav-item
					a(href="#").nav-link ¿Qué son las funciones incluyentes?
				li.nav-item
					a(href="#").nav-link Tipos de funciones incluyentes
				li.nav-item
					a(href="#").nav-link Guía visual

	
