section.info
	.fi-detail.ap-slide#fi-detail
		a(href="#").close-this x
		.ap-area
			p.fi-detail-txt En México, #[strong muchas personas con discapacidad se abstienen de ir al cine], no porque no les guste o no puedan disfrutar las películas, sino porque el cine y las películas habitualmente se orientan a quienes pueden emplear todos sus sentidos.

			p.fi-detail-txt Una situación análoga es la de los papás que #[strong se abstienen de llevar a sus hijos al cine porque presentan alguna discapacidad o condición social - sensorial], o porque son muy inquietos y les preocupa incomodar a los demás asistentes.

			p.fi-detail-txt Convencidos de que #[strong el cine debe ser para todos, hemos creado las Funciones Incluyentes Cinépolis]: funciones de cine abiertas al público que, siendo disfrutables por cualquier persona, buscan #[strong generar una mejor experiencia para aquellas que presentan alguna condición o discapacidad sensorial, intelectual, visual y/o auditiva], así como para sus familiares y amigos.

			p.fi-detail-txt Las Funciones Incluyentes serán probadas en 4 conjuntos ubicados en los puntos cardinales de la Zona Metropolitana del Valle de México en enero y febrero de 2018 , a fin de determinar si el modelo que diseñamos es el idóneo para la satisfacción de nuestros clientes.

	.fi-kind.ap-slide#fi-kind
		a(href="#").close-this x
		.ap-area
			.fi-kind-col.col-6
				p.fi-kind-title Funciones Incluyentes para personas con #[strong discapacidades auditiva y/o visual].

				.fi-kind-content
					.fi-kind-images
						img(src="//static.cinepol.is/landings/funciones-incluyentes/imagenes/img-auditivo.png", alt="Auditivo")
						img(src="//static.cinepol.is/landings/funciones-incluyentes/imagenes/img-visual.png", alt="Visual")

					.fi-kind-description
						p.fi-kind-txt En estas funciones #[strong se adapta la película a fin de que, mediante el uso de una app], las personas con discapacidad auditiva presentes en la sala puedan verla con subtitulado para sordos o con una interpretación simultánea a Lengua de Señas Mexicana; y las personas con discapacidad visual escuchen una audiodescripción.

						p.fi-kind-txt #[strong La aplicación se descarga en cualquier dispositivo electrónico (teléfono o tableta)]; las instrucciones y ligas para descargar la aplicación y los archivos de la película le serán proporcionados al cliente cuando compre su boleto para la función, ya sea que lo adquiera por internet o de manera presencial.


			.fi-kind-col.col-6
				p.fi-kind-title Funciones Incluyentes  para personas con #[strong discapacidades social-sensorial y/o intelectual].
				.fi-kind-content
					.fi-kind-images
						img(src="//static.cinepol.is/landings/funciones-incluyentes/imagenes/img-sensorial.png", alt="Social Sensorial")
						img(src="//static.cinepol.is/landings/funciones-incluyentes/imagenes/img-intelectual.png", alt="Intelectual")

					.fi-kind-description
						p.fi-kind-txt En estas funciones no hay propiamente una adaptación de la película, sino un #[strong acondicionamiento de la sala en la que será exhibida], a fin de hacerla amigable para personas con hipersensibilidades a elementos como el #[strong sonido, la iluminación, la temperatura o los aromas, entre otras].


						p.fi-kind-txt Además de #[strong atenuar los elementos que pueden despertar las hipersensibilidades de personas con autismo], en estas funciones se prevé la posibilidad de que las familias con niños inquietos puedan dejar que éstos deambulen libremente por la sala durante la película, ya que habrá un #[strong control para evitar que salgan de la sala] sin sus papás.

	aside.info-poster
		figure.poster
			img(src="//static.cinepol.is/landings/funciones-incluyentes/imagenes/img-poster-ole.png", alt="Pelicula").poster-img
	.info-container
		.info-movie
			.movie-title
				//-img(src="//static.cinepol.is/landings/funciones-incluyentes/imagenes/extraordinario.svg", alt="Extraordinario")
				p OLÉ EL VIAJE DE FERDINAND
			.movie-settings
				p.movie-settings-detail Función adaptada para personas con discapacidad Intelectual o Social Sensorial
				span.movie-settings-format
					img(src="//static.cinepol.is/landings/funciones-incluyentes/imagenes/img-sensorial.png", alt="Social Sensorial")
				span.movie-settings-format
					img(src="//static.cinepol.is/landings/funciones-incluyentes/imagenes/img-intelectual.png", alt="Intelectual")
			.movie-schedule
				.schedule-title SÁBADO 27 DE ENERO #[strong 11:00AM]
				.schedule-card
					.card-info
						.card-cinema CINÉPOLIS VIP® SAMARA
						span.ico-location
						.card-location Centro Comercial Samara, Av. Antonio Dovalí Jaime No. 70, Colonia Santa Fé, CDMX
					.card-info
						.card-cinema CINÉPOLIS® UNIVERSIDAD
						span.ico-location
						.card-location Av. Universidad 1000, Santa Cruz Atoyac, Delegación Benito Juárez, CDMX

				.schedule-title DOMINGO 28 DE ENERO #[strong 11:00AM]

				.schedule-card
					.card-info
						.card-cinema CINÉPOLIS® PARQUE TOREO
						span.ico-location
						.card-location Blvd. Manuel Ávila Camacho 5, Residencial Lomas de Sotelo, CDMX
					.card-info
						.card-cinema CINÉPOLIS® PLAZA CENTRAL
						span.ico-location
						.card-location Calle Canal Río Churubusco 1635, Iztapalapa, CDMX

